table {
    width: 500px;
    text-align: left;
    border: 1px solid #CCC;
}

tr {
    border: 1px dashed #CCC;
}

th {
    padding: 10px;
    border-bottom: 1px dotted #333;
}

td {
    padding: 10px;
}

#pageNumBox {
    display: block;
    margin-top: 10px;
    width: 600px;
    height: 50px;
}

.active {
    border: 1px solid #FF6;
    background-color: #FF6;
}

.nactive {
    display: block;
    float: left;
    margin-right: 10px;
    border: 1px solid #CCC;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
    color: #CCC;
}