
.tekst{
	border: 1px solid #CCC;
	background-color: #FFF;
	color: #333;
	padding: 5px;
	width: 160px;	
}
.info{
	width: 300px;
	height: 35px;
	line-height: 35px;
	padding-left: 5px;
	margin-bottom: 15px;
}
.succes{
	background-color: #66FF99;
	color: #006600;
	border: 2px solid #006600;
}
.error{
	background-color: #FFCCCC;
	color: #CC0000;
	border: 2px solid #CC0000;
}